<form name="postForm" ng-submit="updateVideo()" novalidate>
  <div class="field">
    <label for="name">名称</label>
    <input name="name" class="form-control" type="subject" id="name" placeholder="Subject"
           ng-model="name">
  </div>
  <div class="field">
    <label for="description">描述</label>
    <textarea id="editor" ng-model="description" id="description" placeholder="在此编辑描述" style="width: 100% ;"
              autofocus></textarea>
  </div>
  <div class="field">
    <label for="path">文件路径</label>
    <input name="path" class="form-control" type="subject" id="path" placeholder="文件路径"
           ng-model="path">
  </div>
  <div class="field">
    <label for="categoryId">所属分类</label>
    <input type="hiden" ng-hide="true" ng-model="categoryId" id="categoryId">
    <div class="ui search selection dropdown  remote example">
      <i class="dropdown icon"></i>
      <div class="menu">
        <div ng-repeat="category in categories" class="item" data-value="{{ category.id }}">
          {{ category.name }}
        </div>
      </div>
      <div class="default text">选择分类</div>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">保存</button>
</form>
<script type="text/javascript">
  var editor = new Simditor({
    textarea: $('#editor')
    //optional options
  });
</script>
