<div class="table-responsive">
  <table id="sample-table-1" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>照片名</th>
      <th>照片路径</th>
      <th>照片描述</th>
      <th>所属专家</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="album in albums">
      <td>{{ album.name }}</td>
      <td>{{ album.path }}</td>
      <td>{{ album.description }}</td>
      <td>{{ album.user.name }}</td>
      <td>
        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
          <a class="btn btn-xs btn-info" href="">
            <i class="icon-edit bigger-120"></i>
          </a>
          <button class="btn btn-xs btn-danger" ng-click="deleteAlbum(album.id)">
            <a href=""><i class="icon-trash bigger-120 " style="color: #FFFFFF;"></i></a>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <observe></observe>
</div>
