<header></header>
<div class="main-content">
  <div class="" style="margin: 10px">
    <div class="table-responsive">

      <div class="modal fade at-audit-trade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">审核交易</h4>
            </div>
            <div class="modal-body">
              <div class="field">
                <label>标题</label>
                <p>{{ curTrade.title }}</p>
              </div>
              <div class="field">
                <label>描述</label>
                <p>{{ curTrade.description }}</p>
              </div>
              <div class="field">
                <label>所属类型</label>
                <p>{{ curTrade.type.name }}</p>
              </div>
              <div class="field">
                <label>发布者</label>
                <p>{{ curTrade.user.name }}</p>
              </div>
              <div class="field">
                <label>发布时间</label>
                <p>{{ curTrade.whenCreated | date:'yyyy-MM-dd HH:mm' }}</p>
              </div>

            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-default" ng-click="auditWithRefuse(curTrade)">拒绝</a>
              <a type="submit" class="btn btn-primary" ng-click="auditWithPass(curTrade)">通过</a>
            </div>
          </div>
        </div>
      </div>

      <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>编号</th>
          <th>标题</th>
          <th>分类</th>
          <th>点击数</th>
          <th>发布者</th>
          <th>审核状态</th>
          <th>发布时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trade in trades">
          <td>{{ trade.id }}</td>
          <td>{{ trade.title }}</td>
          <td>{{ trade.category.name }}</td>
          <td>{{ trade.clickCount }}</td>
          <td>{{ trade.user.name }}</td>
          <td>{{ trade.tradeState | showStatus}}</td>
          <td>{{ trade.whenCreated | date:'yyyy-MM-dd HH:mm'}}</td>
          <td>
            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
              <a class="btn btn-xs btn-success" data-toggle="modal" data-target=".at-audit-trade"
                 ng-click="auditTrade(trade)">
                <i class="icon-edit bigger-120"></i>审核操作
              </a>
              <button class="btn btn-xs btn-danger">
                <a href="" style="color: #FFFFFF;" ng-click="deleteTrade(trade)"><i class="icon-trash bigger-120 "></i>删除</a>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <observe></observe>
    </div>
  </div>
</div>
<footer></footer>
