<form name="postForm" ng-submit="addArticle()" novalidate>
  <div>
    <label for="title">标题</label>
    <input name="title" class="form-control" type="subject" id="title" placeholder="Subject"
           ng-model="title">
  </div>
  <div>
    <label for="content">内容</label>
    <textarea name="content" class="form-control" id="content" placeholder="Content"
              ng-model="content"></textarea>
  </div>
  <div>
    <label for="tag">标签</label>
    <input name="tag" class="form-control" type="subject" id="tag" placeholder="输入合适的标签,便于用户搜索"
           ng-model="tag">
  </div>
  <div>
    <label for="categoryId">所属分类</label>
    <input name="categoryId" class="form-control" type="subject" id="categoryId" placeholder="选择分类"
           ng-model="categoryId">
  </div>
  <div>
    <label for="sort">排序</label>
    <input name="sort" class="form-control" type="subject" id="sort" placeholder="排序值为: 1-255"
           ng-model="sort">
  </div>
  <div>
    <label for="image">图片链接</label>
    <input name="image" class="form-control" type="subject" id="image" placeholder="输入图片的url地址"
           ng-model="image">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">发布此文章</button>
</form>
