<header></header>
<div class="main-content">
  <div class="" style="margin: 10px">
    <form name="postForm" ng-submit="updateUser()" novalidate>
      <div class="field">
        <label for="name">用户名</label>
        <input name="name" class="form-control" type="subject" id="name" placeholder="Subject"
               ng-model="name">
      </div>
      <div class="field">
        <label for="realName">真实姓名</label>
    <textarea id="realName" ng-model="realName" id="realName" placeholder="请填写真实姓名" style="width: 100% ;"
              autofocus></textarea>
      </div>
      <div class="field">
        <label for="phone">手机号</label>
        <input name="phone" class="form-control" type="subject" id="phone" placeholder="输入有效的手机号"
               ng-model="phone">
      </div>
      <div class="field">
        <label for="industry">产业</label>
        <input name="industry" class="form-control" type="subject" id="industry" placeholder="填写产业"
               ng-model="industry">
      </div>
      <div class="field">
        <label for="scale">产业规模</label>
        <input name="scale" class="form-control" type="subject" id="scale" placeholder="填写产业规模"
               ng-model="scale">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">保存</button>
    </form>
    <script type="text/javascript">
      var editor = new Simditor({
        textarea: $('#editor')
        //optional options
      });
    </script>
  </div>
</div>
<footer></footer>
