<header></header>
<div class="main-content">
  <div class="" style="margin: 10px">
    <div class="table-responsive">

      <a class="btn btn-primary" href="#/app/upload"
         style="float: right;margin-bottom: 5px;">发布新版App
      </a>
      <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>编号</th>
          <th>版本名</th>
          <th>版本号</th>
          <th>下载链接</th>
          <th>类型</th>
          <th>发布日期</th>
          <th>操作人</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="log in logs">
          <td>{{ log.id }}</td>
          <td>{{ log.apkVersionName }}</td>
          <td>{{ log.apkVersion }}</td>
          <td><a href="{{ log.apkPath | resourceUrl}}" target="_blank">{{ log.apkPath}}</a></td>
          <td>{{ log.appType }}</td>
          <td>{{ log.whenCreated | date:'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ log.admin.name }}</td>
          <td>
            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <observe></observe>
    </div>
  </div>
</div>
<footer></footer>
